# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ferna\Desktop\TRABAJOS PUCMM\5to cuatri\Programacion 1\Practica_Central_Telefonica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
